#h1_Startseite{
    font-family: inherit;
    text-shadow: 3px 3px 3px darkgrey;

}
#paragraph{
    margin-top: 3%;
    font-family: "Arial Black";
}
#image{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 50px;
    border-radius: 40%;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Button{
    color: white;
    background-color: dodgerblue;
}